*{
    margin: 0;
    padding: 0;
}

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 65px;

    padding: 0px 30px 0px 30px;
}

h1{
color: white;
}


nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

 a:hover {
             color: red;
    }

.hero{
    height: 90vh;
    background:url("../image/banner.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover{
    background-color: darkred;
}

/* Video section starts here */
.video-section{
    display: flex;
    align-items: center;justify-content: center;
    padding: 50px;
    gap: 40px;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
}

.video-text{
    font-size: 18px;
    color: #444;
}
/* Video section ends here */

/* About section starts here */

.about{
    text-align: center;
    padding: 60px 20px;
    background: white;
}

.about h2{
    font-size: 32px;
    margin-bottom: 32px;
    color: rgba(255, 0, 0, 0.615);
}

.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;    
    color: #555555;
    line-height: 1.6;
}
/* About section ends here */